{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<header>
    <h1>About Us</h1>
</header>

<main>
    <section>
        <h2>Recipy</h2>
        <p>
            Reci.py aims to help and inspire home cooks, to try new cuisines and recipes based on your selection of ingredients and preferred cultural style. With a few simples clicks get the recipes you can make now!
        </p>
    </section>

    <section>
        <h2>Our Team</h2>
        <p>
            Justin Schmitt and Lennon Zrimsek.
        </p>
    </section>

</main>

<footer>
    <p>&copy; 2023 Team HIM</p>
</footer>
{% endblock %}