{% extends "base.html" %} {% block title %}Contact{% endblock %} {% block content
%}
<header>
    <h1>Contact</h1>
</header>

    <div>
        <h2>Contact Form</h2>
        <p>
            You can send us a message using the form below:
        </p>
        <form method="post">

            <label for="data"></label>
            <textarea id="data" name="data" rows="5" required></textarea>
            <br />
            <button type="submit">Send</button>
        </form>
    </div>

<footer>
    <p>&copy; 2023 Team HIM</p>
</footer>
{% endblock %}